{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Saytga Kirish {% endblock title %}



    {% block content %}
            <div class="py-3 bg-primary">
            <div class="container">
                <a class="text-white" href="{% url 'home' %}">Bosh sahifa /</a>
                <a class="text-white" href="{% url 'register' %}">Ro'yxatdan O'tish /</a>
                <a class="text-white" href="{% url 'login' %}">Saytga Kirish /</a>
            </div>
        </div>
        <div class="container mt-5">

            <div class="row">

                <div class="col-2">

                </div>
                <div class="col-6">
                     <h3>Saytga Kirish</h3>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div style="overflow: hidden;">
                            <button type="submit" class="btn btn-primary" style="float: left;">Yuborish</button>
                            <p style="float:right;">Accountingiz yo'qmi ? <a href="{% url 'register' %}">Ro'yxatdan O'tish</a></p>
                        </div>
                    </form>
                </div>
                <div class="col-4"></div>


            </div>
        </div>
    {% endblock content %}
