{% extends 'base.html' %}
{% load static %}
{% block title %} {{ product.name }} {% endblock title %}

{% block content %}
    <div class="py-3 bg-primary">
        <div class="container">
            <a class="text-white" href="{% url 'home' %}">Bosh sahifa /</a>
            <a class="text-white" href="{% url 'cat' %}">Kategoriyalar /</a>
            <a class="text-white" href="{% url 'catdet' product.category.slug %}">{{ product.category.name }}/</a>
            <a class="text-white" href="{% url 'productdet' product.category.slug product.slug %}">{{ product.name }}</a>
        </div>
    </div>
    <div class="container py-3">
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                {% if product.product_image %}
                                    <img src="{{ product.product_image.url }}" class="w-100" alt="{{ product.name }}">
                                {% else %}
                                    <p>No image available</p>
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-10">
                                        <h2 class="mb-0">{{ product.name }}</h2>
                                    </div>
                                    {% if product.trending %}
                                    <div class="col-2">
                                        <h6 class="mb-0 btn btn-warning">Aksiya</h6>
                                    </div>
                                    {% endif %}
                                </div>
                                <p class="text-muted">{{ product.small_description }}</p>
                                <p class="mb-2 btn btn-info" id="narx">Narxi: <span id="productPrice">{{ product.selling_price|stringformat:'d' }}</span> so'm</p>
                                {% if product.original_price %}
                                    <p><s class="text-danger fw-bold">{{ product.original_price|stringformat:'d' }} so'm</s></p>
                                {% endif %}
                                <p class="mb-3 text-secondary text-opacity-75">Sana: {{ product.created_at|date:"Y-m-d H:i:s" }}</p>
                                <p class="text-secondary">Mahsulot soni: {{ product.quantity }} dona</p>

                                <!-- Savatchaga qo'shish formasi -->
                                <form method="POST" action="{% url 'add_to_cart' product_id=product.id %}">
                                    {% csrf_token %}
                                    <label for="quantity">Miqdor:</label>
                                    <input type="number" name="product_qty" id="quantity" value="1" min="1" class="form-control" style="width: 100px; display: inline-block;">
                                    <button type="submit" class="btn btn-primary">Savatchaga qo'shish</button>
                                </form>

                                {% if request.user.is_superuser or request.user.is_admin %}
                                    <a class="btn btn-info" href="{% url 'editproduct' product.slug %}">Tahrirlash</a>
                                    <a class="btn btn-danger" href="{% url 'delete' product.slug %}">O'chirish</a>
                                {% endif %}

                                <hr>
                                <h2>Mahsulot haqida</h2>
                                <p>{{ product.description }}</p>
                                <br>
                                <hr>
                                <p>{{ product.meta_description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}